*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

div{
  /* text-align: center; */
  /* margin-left: 50px; */
  font-size: 20px;
  
  
}
div>div{
  height: 200px;
  width: 1000px;
  background-color:whitesmoke;
  padding-top: 20px;
  border-radius: 20px;
  box-shadow:inset;
  border: 10px solid whitesmoke;
  
  
}